@charset 'utf-8';
@import url("https://cdn.jsdelivr.net/gh/orioncactus/pretendard@v1.3.9/dist/web/variable/pretendardvariable.min.css");

/* reset */
* {margin: 0; padding: 0;}

ul, ol, dl {
  list-style-type: none;
}

a {
  color: inherit;
  text-decoration: none;
}

html,body {
  width: 100%;
  overflow-x:hidden;
}

/* basic style */
body {
  font: 16px/1.5 "Pretendard Variable";
  color: #282828;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
}

/* layout */
.header {
  position: fixed;
  top: 0; left: 0;
  width: 100%;
  background: #fff;
  z-index: 50;
  box-shadow: 0 5px 20px 0 rgba(170, 170, 170, 0.1);
  .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    /* 로고 */
    .logo {
      img {width: 60px;}
    }
    /* 주메뉴 - 1뎁스 */
    .gnb {
      .nav {
        display: flex;
        >li {
          /* &:hover .menuWrap {display: block;} */
          >a {
            display: block;
            text-transform: uppercase;
            padding: 45px 20px;
            position: relative;
            font-size: 15px;
            &:hover::after {
              width: 100%;
            }
            &:hover {
              color: #006F4A;
            }
            &::after {
              content: '';
              bottom: 0;
              left: 0;
              position: absolute;
              width: 0;
              height: 2px;
              background: #006F4A;
              transition: .5s;
            }
          }
          /* 부메뉴 - 2뎁스 */
          .menuWrap {
            display: none;
            position: absolute;
            left: 0; top: 112.5px;
            background: #fff;
            width: 100%;
            border-top: 1px solid #eee;
            box-shadow: 0 5px 20px 0 rgba(170, 170, 170, 0.1);
            .menuWrapInner {
              padding: 40px 0;
              display: flex;
              justify-content: space-between;
              width: 1200px;
              margin: 0 auto;
              ul {
                li {
                  font-size: 15px;
                  a {
                    display: block;
                    padding: 5px;
                    transition: .3s;
                    &:hover {background: #f0f0f0;}
                  }
                }
                li.Subcategory {
                  color: #006F4A;
                  font-weight: 700;
                  font-size: 16px;
                  margin-bottom: 5px;
                }
              }
            }
            .flex-interval {
              justify-content: left;
              gap: 150px;
            }
          }
        }
      }
    }
    /* 사용자 메뉴 */
    .menu {
      display: flex;
      >li {
        position: relative;
        padding: 40px 0;
        &:hover img {scale: 1.3;}
        &:hover ul {display: block;}
        img {
          width: 25px; 
          cursor: pointer; 
          transition: .5s;
          padding: 0 10px;
          &:last-child{padding-right: 0;}
        }
        >ul {
          border-radius: 10px;
          display: none;
          color: #fff;
          position: absolute;
          text-align: center;
          width: 150px;
          background: url(../images/pt.png) no-repeat center center,linear-gradient(#006F4A,#006F4A);
          bottom: -180px; right: -55px;
          border: 1px solid #fff;
          box-shadow: 5px 5px 30px 0 rgba(0,0,0,.1);
          font-size: 15px;
          text-transform: uppercase;
          li {
            padding: 10px;
            border-bottom: 1px solid rgba(255,255,255,.5);
            &:hover {
              background: #00000037;
            }
            a {
              display: block;
            }
          }
        }
      }
    }
    .myMenu {
      display: none;
    }
  }
}

.contentsWrap {
  /* banner */
  .banner {
    margin-top: 112.5px;
    background: url(../images/drink_bg.png) no-repeat center/cover;
    height: 80vh;
    text-align: center;
    color: #fff;
    background-attachment: fixed;
    .container {
      position: relative;
      height: 100%;
      .mobile {
        display: none;
      }
      .drink {
        position: absolute;
        top: 50%; right: 0;
        transform: translateY(-50%);
        width: 75%;
      }
      .bannerMainTitle {
        position: absolute;
        top: 30%; left: 5%;
        transform: translateY(-50%);
        color: #006F4A;
        .mainTitle {
          img {
            width: 410px;
          }
        }
        .viewMore {
          margin-top: 20px;
          display: block;
          width: 140px;
          height: 36px;
          line-height: 36px;
          text-align: center;
          border: 1px solid #006F4A;
          transition: .3s;
          &:hover {
            background-color: #006F4A;;
            color: #fff;
          }
        }
      }
      .notice {
        right: 0;
        bottom: -22px;
        position: absolute;
        display: flex;
        .notice-left {
          display: flex;
          align-items: center;
          gap: 10px;
          padding: 10px 60px; 
          background: #282828; 
          border-radius: 15px 0 0 0;
          img {width: 15px;}
        }
        .notice-right {
          display: flex;
          align-items: center;
          gap: 10px;
          padding: 10px 60px; 
          background: #06442f; 
          border-radius: 0 0 15px 0;
          img {width: 15px;}
        }
      }
    }
  }

  /* products */
  .products {
    margin: 200px 0 170px 0;
    .container {
      position: relative;
      height: 100%;
      max-width: 1280px;
      margin: 0 auto;
      &::after {
        content: 'products';
        text-transform: uppercase;
        font-size: 30px;
        font-weight: 700;
        position: absolute;
        top: -60px; left: 0;
      }
      .category {
        position: absolute;
        display: flex;
        z-index: 3;
        gap: 20px;
        top: -40px; right: 0;
        a {
          font-size: 14px;
          text-transform: uppercase;
          font-weight: 600;
          border-bottom: 2px solid #282828;
        }
      }
      .swiper {
        width: 100%;
        height: 350px;
        margin-left: auto;
        margin-right: auto;
        .swiper-slide {
          text-align: center;
          font-size: 18px;
          display: flex;
          justify-content: center;
          align-items: center;
          box-sizing: border-box;
          img {transition: .5s;}
          &:hover img {
            scale: 1.1;
          }
          p {
            display: inline-block;
            text-align: center;
            font-size: 15px;
            padding-top: 10px;
          }
          img {
            display: block;
            width: 100%;
            height: 100%;
            object-fit: cover;
          }
        }
      }
      .swiper-button-next {
        width: 30px; height: 30px;
        top: 50%;
        right: -50px;
        &::after {
          content: '';
          width: 50px; height: 50px;
          background: url(../images/arrow_right.svg) no-repeat center center;
        }
      }
      .swiper-button-prev {
        width: 50px; height: 50px;
        top: 50%;
        left: -50px;
        &::after {
          content: '';
          width: 50px; height: 50px;
          background: url(../images/arrow_left.svg) no-repeat center center;
        }
      }
    }
  }

  /* news */
  .news {
    margin: 100px 0 0 0;
    width: 100%;
    height: 460px;
    background: linear-gradient(rgb(0, 111, 74,.8), rgb(0, 111, 74,.8)), url(../images/new_bg_cafe.jpg) no-repeat center/cover;
    background-attachment: fixed;
    .container {
      width: 100%;
      height: 100%;
      position: relative;
      .title {
        padding-top: 90px;
        color: #fff;
        font-size: 30px;
        font-weight: 600;
        text-align: center;
      }
      .newsItem {
        width: 100%;
        z-index: 3;
        position: absolute;
        bottom: -20%; left: 0;
        ul {
          display: flex;
          justify-content: space-between;
          gap: 10px;
          li {
            position: relative;
            width: calc(25%); height: 50%;
            background: #eee;
            img {
              display: block;
              width: 100%;
              height: 100%;
              object-fit: cover;
            }
            a {
              display: block;
              width: 100%; height: 100%;
              &:hover::after {
                opacity: 1;
              }
              &::after {
                content: '';
                position: absolute;
                top: 0; left: 0;
                width: 100%; height: 100%;
                background: linear-gradient(rgba(0,0,0,.0),rgba(0,0,0,.4));
                opacity: 0;
                transition: .5s;
              }
              .newsTitle {
                width: 100%;
                position: absolute;
                bottom: -40px; left: 0;
                font-weight: 600;
                font-size: 17px;
              }
            }
          }
        }
        .viewAll {
          position: absolute;
          text-transform: uppercase;
          color: #fff;
          top: -50px; right: 0;
          border-bottom: 2px solid #fff;
          font-size: 15px;
        }
      }
      .mobile {display: none;}
    }
  }
  
  /* rewards */
  .rewards {
    padding-top: 300px;
    padding-bottom: 220px;
    background: url(../images/rewards_bg.png) no-repeat;
    background-attachment: fixed;
    .container {
      .title {
        font-size: 30px;
        font-weight: 700;
        margin-bottom: 30px;
        text-transform: uppercase;
      }
      .rewardGroup {
        display: grid;
        grid-template-columns: 2fr 3fr;
        grid-template-rows: 290px 1fr;
        gap: 15px;
        .loginReward {
          background: url(../images/rewards_cup.png) no-repeat right center,linear-gradient(#1E3932,#1E3932); 
          border-radius: 15px 0 15px 15px;
          color:#fff;
          a {
            width: 100%; height: 100%;
            padding: 50px;
            box-sizing: border-box;
            display: block;  
            .title {
              font-size: 24px;
              font-weight: 600;
              line-height: 1.3;
              padding-top: 5px;
            }
            .titleSub {
              font-size: 17px;
              font-weight: 400;
            }
            .btn {
              display: inline-block;
              border: 1px solid #fff;
              padding: 5px 40px;
              border-radius: 5px;
            }          
          }
        }
        .signUpReward {
          position: relative;
          background: #FFE5A4;
          box-sizing: border-box;
          border-radius: 15px 0 15px 15px;
          .rewardStar {
            width: 250px;
            position: absolute;
            right: -90px; bottom: -10px;
          }
          a {
            width: 100%; height: 100%;
            display: block;
            .photo {
              float: left;
              background: url(../images/reward.jpg) no-repeat center/cover;
              width: 40%; height: 290px;
              border-radius: 15px 0 0 15px;
            }
            .text {
              float: left;
              padding: 50px;
              box-sizing: border-box;
              .title {
                font-size: 24px;
                font-weight: 700;
                line-height: 1.3;
                padding-top: 5px;
              }
              .titleSub {
                font-size: 17px;
                font-weight: 500;
              }
              .btn {
                display: inline-block;
                border: 1px solid #282828;
                padding: 5px 40px;
                border-radius: 5px;
              }  
            }
          }
        }
        .mobileCardReward {
          position: relative;
          background:#CBE8E3; 
          grid-column-start: 1;
          grid-column-end: 3;
          box-sizing: border-box;
          padding: 50px;
          border-radius: 15px;
          a {
            display: block;
            width: 100%; height: 100%;
            .text {
              font-weight: 600;
              font-size: 22px;
              padding-right: 300px;
            }
            .btn {
              display: inline-block;
              border: 1px solid #282828;
              padding: 5px 40px;
              border-radius: 5px;
              margin-top: 30px;
            }
            img {
              width: 250px; right: 0; bottom: -50px;
              position: absolute;
            }
          }
        }
      }
    }
  }

  /* promotion */
  .promotion {
    height: 100%;
    background: #00704A;
    .container {
      height: 100%;
      .pcGrid {
        height: 100%;
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 1fr 1fr 1fr;
        article {
          height: calc(3);
          background: #F8F8F8;
        }
        .text {
          box-sizing: border-box;
          padding: 65px;
          h2 {
            font-size: 25px;
            font-weight: 700;
            text-transform: uppercase;
          }
          p {
            font-size: 18px;
            padding: 8px 0 50px 0;
            line-height: 1.6;
          }
          .viewMore {
            display: inline-block;
            font-size: 17px;
            text-transform: uppercase;
            font-weight: 600;
            border-bottom: 2px solid #006F4A;
            transition: .5s;
            &:hover {
              transform: translateY(-20%);
              color: #006F4A;
            }
          }
          span {
            font-weight: 700;
            color: #006F4A;
          }
        }
        .photo1 {
          background: url(../images/promotion_Hacienda_Alsacia.png) no-repeat center/cover;
        }
        .photo2 {
          background: url(../images/promotion_bali.png) no-repeat center/cover;
        }
        .photo3 {
          background: url(../images/promotion_favorite.png) no-repeat center/cover;
        }
      }
    }
  }

  /* contentsGroup */
  .contentsGroup {
    padding: 200px 0;
    height: 100%;
    background: url(../images/bg_re.png) no-repeat center center;
    background-attachment: fixed;
    /* reserveMagazine */
    .reserveMagazine {
      position: relative;
      height: 40vh;
      .container {
        padding-left: 70px;
        box-sizing: border-box;
        position: relative;
        h2 {
          font-size: 25px;
          font-weight: 800;
          color: #006F4A;
          line-height: 1.3;
          padding: 15px 0 40px;
        }
        .viewMore {
          font-size: 17px;
          text-transform: uppercase;
          font-weight: 600;
          border-bottom: 2px solid #006F4A;
          transition: .5s;
          display: inline-block;
          &:hover {
            transform: translateY(-20%);
            color: #006F4A;
          }
        }
        .photo {
          position: absolute;
          width: 600px;
          right: 0; top: 0;
          z-index: 5;
        }
      }
      &::after {
        content: '';
        position: absolute;
        width: 780px; height: 200px;
        background: #006F4A;
        z-index: 2;
        top: 170px; right: -50px;
      }
    }

    /* FindStore */
    .FindStore {
      margin-top: 200px;
      position: relative;
      height: 40vh;
      .container {
        position: relative;
        text-align: right;
        padding-right: 70px;
        box-sizing: border-box;
        h2 {
          font-size: 25px;
          font-weight: 800;
          color: #006F4A;
          line-height: 1.3;
          padding-bottom: 40px;
        }
        p {
          font-size: 17px;
          font-weight: 500;
          padding-bottom: 20px;
          line-height: 1.7;
          span {
            color: #006F4A;
            font-weight: 800;
          }
        }
        .photo {
          position: absolute;
          width: 600px;
          left: 0; top: 0;
          z-index: 5;
        }
        .viewMore {
          display: inline-block;
          font-size: 17px;
          text-transform: uppercase;
          font-weight: 600;
          border-bottom: 2px solid #006F4A;
          transition: .5s;
          &:hover {
            transform: translateY(-20%);
            color: #006F4A;
          }
        }
      }
      &::after {
        content: '';
        position: absolute;
        width: 780px; height: 200px;
        background: #006F4A;
        z-index: 2;
        top: 170px; left: -50px;
      }
    }
  }
}

  /* footer */
  footer {
    background: #282828;
    color: #fff;
    .container {
      padding: 50px 0;
      .topArea {
        display: flex;
        justify-content: space-between;
        >li {
          ul {
            li.title {
              padding-bottom: 15px;
            }
            li {
              padding-bottom: 3px;
              font-size: 14px;
              a:hover {
                text-decoration: underline;
              }
            }
          }
        }
      }
    }
    .bottomArea {
      background: #303030;
      .inner {
        max-width: 1200px; margin: 0 auto;
        padding: 30px 0;
        font-size: 13px;
        ul.conA {
          display: flex;
          justify-content: space-between;
          .accent {
            color: #22a963;
            font-weight: 700;
          }
        }
        .copy {
          opacity: .7;
          padding-top: 20px;
          ul {
            display: flex;
            justify-content: left;
            gap: 20px;
          }
        }
      }
    }
  }

/* media */
@media (max-width:1200px){
  .header {
    .container {
      padding: 15px;
      .mymenu {
        display: block;
        color: red;
      }
      .logo {
        img {
          width: 50px; height: 50px;
        }
      }
      .gnb, .menu {
        display: none;
      }
      .myMenu {
        cursor: pointer;
        display: block;
        font-size: 32px;
      }
    }
  }
  .contentsWrap {
    .banner {
      margin-top: 87px;
    }
    .products {
      padding: 15px;
      margin: 130px 0;
    }
    .news {
      width: 100%;
      height: 100%;
      background: linear-gradient(rgb(0, 111, 74,.8),rgb(0, 111, 74,.8)), url(../images/new_bg_cafe.jpg) no-repeat center/cover;
      background-attachment: fixed;
      .container {
        position: relative;
        .title {
          display: none;
        }
        .newsItem {display: none;}
        .mobile {
          display: block;
          .mobileTitle {
            padding: 50px 0;
            text-align: center;
            color: #fff;
            font-size: 35px;
            font-weight: 500;
          }
          .mobileNewsItem {
            ul {
              display: grid;
              grid-template-columns: 1fr 1fr;
              grid-template-rows: 1fr 1fr;
              
              li {
                a {
                  display: block;
                  img {
                    display: block;
                    width: 100%;
                    height: 455px;
                    object-fit: cover;
                  }
                  p {
                    padding: 3vh 0;
                    text-align: center;
                    color: #fff;
                    background: #006F4A;
                    font-size: 22px;
                    font-weight: 500;
                  }
                }
              }
            }
          }
        }
      }
    }
    .rewards {
      padding-top: 150px;
      padding-bottom: 180px;
      background: url(../images/rewards_bg.png) no-repeat;
      background-attachment: fixed;
      .container {
        padding: 15px;
        .title {
          font-size: 30px;
          font-weight: 700;
          margin-bottom: 30px;
          text-transform: uppercase;
        }
        .rewardGroup {
          display: grid;
          grid-template-columns: 1fr 1fr;
          grid-template-rows: 1fr;
          .loginReward {
            background: url(../images/rewards_cup.png) no-repeat right center,linear-gradient(#1E3932,#1E3932); 
            border-radius: 15px 0 15px 15px;
            color:#fff;
            a {
              width: 100%; height: 100%;
              padding: 50px;
              box-sizing: border-box;
              display: block;  
              .title {
                font-size: 24px;
                font-weight: 600;
                line-height: 1.3;
                padding-top: 5px;
              }
              .titleSub {
                font-size: 17px;
                font-weight: 400;
              }
              .btn {
                display: inline-block;
                border: 1px solid #fff;
                padding: 5px 40px;
                border-radius: 5px;
              }          
            }
          }
          .signUpReward {
            position: relative;
            background: #FFE5A4;
            box-sizing: border-box;
            border-radius: 15px 0 15px 15px;
            .rewardStar {
              width: 250px;
              position: absolute;
              right: -90px; bottom: -10px;
            }
            a {
              width: 100%; height: 100%;
              display: block;
              .photo {
                display: none;
              }
              .text {
                float: left;
                padding: 50px;
                box-sizing: border-box;
                .title {
                  font-size: 24px;
                  font-weight: 700;
                  line-height: 1.3;
                  padding-top: 5px;
                }
                .titleSub {
                  font-size: 17px;
                  font-weight: 500;
                }
                .btn {
                  display: inline-block;
                  border: 1px solid #282828;
                  padding: 5px 40px;
                  border-radius: 5px;
                }  
              }
            }
          }
          .mobileCardReward {
            position: relative;
            background:#CBE8E3; 
            grid-column-start: 1;
            grid-column-end: 3;
            box-sizing: border-box;
            padding: 50px;
            border-radius: 15px;
            a {
              display: block;
              width: 100%; height: 100%;
              .text {
                font-weight: 600;
                font-size: 22px;
                padding-right: 300px;
              }
              .btn {
                display: inline-block;
                border: 1px solid #282828;
                padding: 5px 40px;
                border-radius: 5px;
                margin-top: 30px;
              }
              img {
                width: 250px; right: 0; bottom: -50px;
                position: absolute;
              }
            }
          }
        }
      }
    }
  }
}

@media (max-width:890px){
  .contentsWrap {
    .banner {
      height: 100%;
      margin-top: 87px;
      background: #fff0da;
      text-align: center;
      color: #fff;
      padding: 270px 0 90px 0;
      /* background-attachment: fixed; */
      .container {
        position: relative;
        .drink {
          display: none;
        }
        .bannerMainTitle {
          position: absolute;
          top: -130px; left: 5%;
          transform: translateY(-50%);
          color: #006F4A;
          .mainTitle {
            img {
              width: 350px;
            }
          }
          .viewMore {
            margin-top: 20px;
            display: block;
            width: 140px;
            height: 36px;
            line-height: 36px;
            text-align: center;
            border: 1px solid #006F4A;
            transition: .3s;
            &:hover {
              background-color: #006F4A;;
              color: #fff;
            }
          }
        }
        .notice {
          width: 100%;
          right: 0;
          bottom: -100px;
          position: absolute;
          .notice-left {
            width: 100%;
            padding: 0; 
            background: #282828; 
            border-radius: 0;
            justify-content: center;
            padding: 10px 0;
            img {width: 0;}
          }
          .notice-right {
            justify-content: center;
            width: 100%;
            padding: 15px 0; 
            background: #06442f; 
            border-radius: 0;
            img {width: 0;}
          }
        }
        .mobile {
          margin: 0 auto;
          display: block;
          background: url(../images/drink_bg_pt.png) center/cover,linear-gradient(#006F4A,#006F4A);
          width: 90%;
          border-radius: 10px;
          padding: 10%;
          box-sizing: border-box;
          section {
            text-align: right;
            display: flex;
            justify-content: space-between;
            align-items: center;
            padding-bottom: 50px;
            &:last-child {padding-bottom: 0;}
            img {width: 30%;}
            .text {
              font-size: 4vw;
              letter-spacing: -5%;
              font-weight: 500;
              line-height: 100%;
              p {
                span {
                  font-size: 3vw;
                  font-weight: 300;
                }
              }
            }
          }
          .left {
            text-align: left;
          }
        }
      }
    }
    .news {
      width: 100%;
      height: 100%;
      background: linear-gradient(rgb(0, 111, 74,.8),rgb(0, 111, 74,.8)), url(../images/new_bg_cafe.jpg) no-repeat center/cover;
      background-attachment: fixed;
      .container {
        position: relative;
        .title {
          display: none;
        }
        .newsItem {display: none;}
        .mobile {
          display: block;
          .mobileTitle {
            padding: 30px 0;
            text-align: center;
            color: #fff;
            font-size: 27px;
            font-weight: 500;
          }
          .mobileNewsItem {
            ul {
              display: grid;
              grid-template-columns: 1fr ;
              grid-template-rows: 1fr 1fr 1fr 1fr;
              
              li {
                a {
                  display: block;
                  img {
                    display: block;
                    width: 100%;
                    height: 455px;
                    object-fit: cover;
                  }
                  p {
                    padding: 3vh 0;
                    text-align: center;
                    color: #fff;
                    background: #006F4A;
                    font-size: 20px;
                    font-weight: 500;
                  }
                }
              }
            }
          }
        }
      }
    }
  }
}

@media (max-width:949px){
  .contentsWrap {
    .rewards {
      padding-top: 150px;
      .container {
        .rewardGroup {
          display: flex;
          flex-direction: column;
          .loginReward {
            background: url(../images/rewards_cup.png) no-repeat right center,linear-gradient(#1E3932,#1E3932); 
            border-radius: 15px 0 15px 15px;
            color:#fff;
            a {
              width: 100%; height: 100%;
              padding: 30px;
              box-sizing: border-box;
              display: block;  
              .title {
                font-size: 20px;
                font-weight: 600;
                line-height: 1.3;
                padding-top: 5px;
              }
              .titleSub {
                font-size: 15px;
                font-weight: 400;
              }
              .btn {
                display: inline-block;
                border: 1px solid #fff;
                padding: 5px 40px;
                border-radius: 5px;
              }          
            }
          }
          .signUpReward {
            position: relative;
            background: #FFE5A4;
            box-sizing: border-box;
            border-radius: 15px 0 15px 15px;
            .rewardStar {
              width: 250px;
              position: absolute;
              right: -90px; bottom: -10px;
            }
            a {
              width: 100%; height: 100%;
              display: block;
              .photo {
                display: none;
              }
              .text {
                float: left;
                padding: 30px;
                box-sizing: border-box;
                .title {
                  font-size: 20px;
                  font-weight: 700;
                  line-height: 1.3;
                  padding-top: 5px;
                }
                .titleSub {
                  font-size: 15px;
                  font-weight: 500;
                }
                .btn {
                  display: inline-block;
                  border: 1px solid #282828;
                  padding: 5px 40px;
                  border-radius: 5px;
                }  
              }
            }
          }
          .mobileCardReward {
            padding: 30px;
            a {
              display: block;
              width: 100%; height: 100%;
              .text {
                font-weight: 600;
                font-size: 20px;
                padding-right: 0;
              }
              img {
                display: none;
              }
            }
          }
        }
      }
    }
  }
}


@media (max-width:375px){
  .contentsWrap {
    .banner {
      .container {
        .bannerMainTitle {
          position: absolute;
          top: -130px; left: 5%;
          transform: translateY(-50%);
          color: #006F4A;
          .mainTitle {
            img {
              width: 250px;
            }
          }
        }
      }
    }
    .rewards {
      padding-top: 150px;
      .container {
        .rewardGroup {
          display: flex;
          flex-direction: column;
          .loginReward {
            background: url(../images/rewards_cup.png) no-repeat 250px center,linear-gradient(#1E3932,#1E3932); }
          }
        }
      }
  }
}